.myModal{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: rgba(0, 0, 0, 0.4);
}

.modalContainer{
	width: 555px;
	background: #FFFFFF;
	margin:auto;
	margin-top:50px;
}

.modalHeader{
	padding:10px;
	background: #008CBA;
	color: #FFFFFF;
	height:50px;
	font-size:20px;
	padding-left:15px;
}

.editHeader{
	padding:10px;
	background: #4CAF50;
	color: #FFFFFF;
	height:50px;
	font-size:20px;
	padding-left:15px;
}

.deleteHeader{
	padding:10px;
	background: #f44336;
	color: #FFFFFF;
	height:50px;
	font-size:20px;
	padding-left:15px;
}

.modalBody{
	padding:40px;
}

.modalFooter{
	height:36px;
}

.footerBtn{
	margin-right:10px;
	margin-top:-9px;
}

.closeBtn{
	background: #008CBA;
	color: #FFFFFF;
	border:none;
}

.closeEditBtn{
	background: #4CAF50;
	color: #FFFFFF;
	border:none;
}

.closeDelBtn{
	background: #f44336;
	color: #FFFFFF;
	border:none;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
    max-width: 100%;
}
.profile-img img{
	width: 250px;
	height: 15rem;
	border-radius: 150px;
}
.profile-img .file {
	position: relative;
	overflow: hidden;
	color: #fff;
    width: 250px;
    border: none;
    border-radius: 0;
    font-size: 15px;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
	zoom: 1;
	width: 100%;
}

.img-group{
	border-radius:150px; 
	padding: 2%;
	width: 100px !important;
    height: 100px !important;
	}

.img-profile-user{
	width: 50px;
    height: 50px;
	border-radius: 150px;
}

.profile-img-info .file {
    position: relative;
    overflow: hidden;
    color: #fff;
    width: 250px;
    border: none;
    border-radius: 0;
    font-size: 15px;
	align-items: center;
}

.profile-img-info img{
	width: 250px;
	height: 15rem;
	padding: 2%;
	border-radius:150px; 
}

.profile-img-info .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.mh-50{
	max-height:50% !important;
}

.slick-arrow::before{
	color: #6e707e  !important;
}

.slick-track{
	min-width: 1500px !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: 85% !important;
}

/*Loading page*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	transition: 1s;
	background: url(../imgs/loader.gif) center no-repeat #fff;
	overflow: hidden;
	/* background: #000000; */

}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(132, 134, 134);
  outline: 1px solid #000000
}

.icon-circle-index {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fa{ 
	font-family: 'Lato', 'Font Awesome 5 Free';
	font-weight: 900;
}

.alert{
	z-index: 100000 !important;
	top:5% !important;
	width: 30% !important;
}