<div class="container">
    <div class="row">
        <h1>Hola Mundo</h1>
    </div>
    <table class="table table-hover table-responsive" id="makeEditable">
        <thead>
            <th>test 1</th>
            <th>test 2</th>
        </thead>
        <tbody>
            <tr>
                <td class="edit">Edit</td>
                <td class="edit">Click</td>
            </tr>
        </tbody>
    </table>
    <span>
        <button id="but_add">Add New Row</button>
    </span>
            
</div>